- form_for :user do |f|
  = f.error_messages
  %p
    = f.label :email, "Email:"
    = f.text_field :email, :size => 30
  %p
    = f.label :password, "Password:"
    = f.password_field :password, :size => 30
  %p
    = f.label :password_confirmation, "Confirm password:"
    = f.password_field :password_confirmation, :size => 30
  - if @user.new_record?
    %p
      = recaptcha_tags
  %p
    = f.submit "Submit"