%p
  %label{:for => "activity_start_time"} Start time:
  = recent_datetime_select(f, :start_time, :default => 1.hour.ago)
%p
  %label{:for => "activity_end_time"} End time:
  = recent_datetime_select(f, :end_time)
%p
  %label{:for => "activity_distance"} Distance:
  = f.text_field :distance
%p
  %label{:for => "activity_activity_type"} Type:
  = f.text_field :activity_type
%p
  %label{:for => "activity_note"} Note:
  = f.text_field :note
