%h1 Listing activities

%p
  = link_to 'New activity', new_activity_path

%table
  %tr
    %th Start
    %th End
    %th Elapsed
    %th Distance
    %th Speed
    %th Type
    %th Note
  -@activities.each do |activity|
    %tr
      %td
        = h activity.formatted_start_time 
      %td
        = h activity.formatted_end_time
      %td
        = h time_format(activity.elapsed)
      %td
        = h number_with_precision(activity.distance, :precision => 2)
      %td
        = h number_with_precision(activity.average_speed, :precision => 2)
      %td
        = h activity.activity_type
      %td
        = h activity.note
      %td
        = link_to 'Edit', edit_activity_path(activity)
      %td
        = link_to 'Delete', activity, :confirm => 'Are you sure?', :method => :delete
