%h1 Report


%table#report
  %tr
    %th Start
    %th End
    %th Elapsed
    %th Distance
    %th Speed
    %th Type
  -@weeks.each do |data|
    -data[:activities].each do |activity|
      %tr
        %td
          = h activity.formatted_start_time
        %td
          = h activity.formatted_end_time
        %td
          = h time_format(activity.elapsed)
        %td
          = h decimal_format(activity.distance)
        %td
          = h decimal_format(activity.average_speed)
        %td
          = h activity.activity_type
    %tr#subtotals
      %th{:colspan => 2} Week totals
      %td
        = h time_format(data[:totals][:time])
      %td
        = h decimal_format(data[:totals][:distance])
  %tr#totals
    %th{:colspan => 2} Total
    %td
      = h time_format(@totals[:time])
    %td
      = h decimal_format(@totals[:distance])